<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612423160457-nu5qkj8pkrrmoo4jge3qpm5509t1gm68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612423160457-nu5qkj8pkrrmoo4jge3qpm5509t1gm68</string>
	<key>API_KEY</key>
	<string>AIzaSyD5gBA8KthnrRQwHhbE_IaV07mJVe489EA</string>
	<key>GCM_SENDER_ID</key>
	<string>612423160457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ewabaczynska.pizzaZoliborz</string>
	<key>PROJECT_ID</key>
	<string>pizza-zoliborz</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-zoliborz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612423160457:ios:9ac9d75095a32fc65dec58</string>
</dict>
</plist>